
/*regole di formattazione*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li,
menu{
    list-style: none;
}

img{
    max-width: 100%;
    display: block;
}

body{
    font-family: 'Open Sans', sans-serif;
}

:root{
    --blue: #0084FD;
    --light-blue:#B5DDFF;
    --purple:#9792E4;
    --yellow:#FDC15F;
    --dark-gray:#333333;
}

a{
    color: black;
    text-decoration: none;
}

.button{
    border-radius: 20px;
}

/*layout*/

.container{
    max-width: 1165px;
    margin: 0 auto;
}

.container-sm{
    max-width: 900px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 24px;
}

[class^="col-"]{
    display: flex;
    flex-wrap: wrap;
}

.col-4{
    flex-basis: calc((100%/12)*4);
}

.col-6{
    flex-basis: calc((100%/12)*6);
}

.col-8{
    flex-basis: calc((100%/12)*8);
}

p{
    font-size: 16px;
}









/*header*/

.row.navigation-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-menu{
    padding: 18px 12px;
}

.nav-list{
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    gap: 30px;
}

.page-header{
    background-color: var(--blue);
}

.nav-list-item{
    font-size: 18px;
    line-height: 38px;
    color: white;
}

#nav-list-button{
    color: black;
    background-color: white;
    padding: 6px 15px;
}

.nav-list-icon{
    display: none;
    color: white;
}

.page-header{
    margin-bottom: 50px;
}

/*hero*/

.hero .card-header{
    color: var(--blue);
}

#phone{
    align-self: flex-end;
}

.hero .big-card-left{
 flex-direction: column;
 justify-content: space-around;
}

#download-button{
    color: white;
    background-color: var(--blue);
    padding: 6px 35px;
}

#big-card img{
    max-width: 50%;
}

.hero .card{
    padding-left: 12px;
    padding-right: 12px;
}

.card .card-features{
    background-color: var(--light-blue);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#big-card .card-features{
    flex-direction: row;
}

.hero .card-header i{
    font-size: 64px;
}

.hero .card-header{
    text-align: center;
}

.hero{
    margin-bottom: 100px;
}

/*planning*/

.planning{
    background-color: var(--purple);
}

.planning-left figure{
    padding: 80px 0;
}

.planning-left h2{
    padding: 50px 0;
}

.planning-left{
    color: white;
}

.planning-right .card-features{
    background-color: white;
    border-radius: 50px;
    justify-content: center;
    padding: 40px;
}

.planning-right .card-features > *{
    padding: 16px;
}

.planning-right{
    align-self: flex-end;
}

.planning-right p{
    font-style: italic;
    text-align: center;
}

.planning-right .button{
    background-color: var(--purple);
    border-radius: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
}

.planning-left,
.planning-right{
    padding: 40px;
}

.planning{
    margin-bottom: 50px;
}

@media (max-width: 575.98px) {
    /*hero*/
    .hero [class^=col-]{
        flex-basis: 100%;
    }
}


@media (max-width: 991.98px) {
    /*header*/
    .nav-list-icon{
        display: block;
    }
    .nav-list{
        display: none;
    }

    /*hero*/
    #big-card .card-features{
        flex-wrap: wrap;
    }

    /*planning*/
    .planning [class^=col-]{
        flex-basis: 100%;
    }
}








/*debug*/

.debug [class^=container]{
    background-color: greenyellow;
    padding: 10px;
}

.debug .row{
    border: 1px solid tomato;
    padding: 10px;
}

.debug [class^="col-"]{
    border: 1px solid blue;
    padding: 10px;
}

.debug .big-card-left,
.debug .big-card-right{
    border: 1px solid palevioletred;
    padding: 10px;
}